@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Roboto", "Open Sans", "Helvetica", sans-serif;
    }
}

[x-cloak] {
    display: none !important;
}

body {
    min-width: 320px;
    font-size: 1rem;
}

a {
    transition: all 0.1s;
    text-decoration: none;
}

::selection {
    color: #ffffff;
    background: #1c68c4;
}

.bg-image-responsive {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.bg-image-primary {
    background-image: url("../images/backgrounds/bg-primary.jpg") !important;
}
