{{# [helpers/layout] 'main' htmlWebpackPlugin }}
<main class="d-flex flex-fill">
    <div class="container m-auto p-2">
        <div class="border-0 card mw-600px mx-auto text-center">
            <div class="card-body p-2">
                <a href="index.html" class="bg-primary card-icon mb-2">
                    <img src="../images/brand/everestserver-logo.svg" alt="EverestLogo" class="img-fluid">
                </a>
                <h2 class="card-title fw-normal mb-2">
                    Witaj na Everest<b>Server</b>!
                </h2>
                <div class="bg-light border card">
                    <div class="card-body">
                        <h5 class="card-title fw-normal mb-1 text-primary">
                            Wybierz serwis, z którego chcesz skorzystać
                        </h5>
                        <div class="justify-content-center row">
                            <div class="col-md-4">
                                <a href="https://cloud.everestserver.pl" class="btn btn-icon-block mb-1 mb-md-0">
                                    <i class="fa fa-cloud fa-solid"></i>
                                    <span class="fw-light">Everest</span><b>Cloud</b>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://git.everestserver.pl" class="btn btn-icon-block">
                                    <i class="fa fa-brands fa-git-alt"></i>
                                    <span class="fw-light">Everest</span><b>Git</b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{/ [helpers/layout] }}
