<footer class="bg-white p-2">
    <div class="justify-content-center list-group list-group-horizontal mb-1">
        <a href="#" class="link-primary list-group-item">
            Polityka prywatności
        </a>
        <a href="mailto:kontakt@jonaszkadziela.pl" class="link-primary list-group-item">
            Kontakt
        </a>
    </div>
    <p class="text-center m-0">
        Zaprojektowane i zaprogramowane z
        <i class="text-danger fa-heart fa-solid"></i>
        przez
        <a href="https://jonaszkadziela.pl" target="_blank">
            Jonasza Kądzielę
        </a>
    </p>
</footer>
