<footer class="bg-white p-2">
    <div class="justify-content-center list-group list-group-horizontal mb-1 text-center">
        <a href="index.html" class="{{# if htmlWebpackPlugin.options.index }} active {{/ if }} align-items-center d-flex list-group-item">
            Strona główna
        </a>
        <a href="privacy.html" class="{{# if htmlWebpackPlugin.options.privacy }} active {{/ if }} align-items-center d-flex list-group-item">
            Polityka prywatności
        </a>
        <a href="mailto:kontakt@jonaszkadziela.pl" class="align-items-center d-flex list-group-item">
            Kontakt
        </a>
    </div>
    <p class="text-center m-0">
        Zaprojektowane i zaprogramowane z
        <i class="text-danger fa-heart fa-solid"></i>
        przez
        <a href="https://jonaszkadziela.pl" target="_blank" rel="noopener noreferrer">
            Jonasza Kądzielę
        </a>
    </p>
</footer>
