<div id="privacy-warning" class="toast" style="width: 500px; transition-property: opacity, background-color;" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="p-1 small toast-body">
        <p>
            Ta strona korzysta z plików cookies, które pomagają nam świadczyć nasze usługi. Korzystając z naszych usług, wyrażasz zgodę na używanie przez nas plików cookies i akceptujesz naszą
            <a href="privacy.html">Politykę Prywatności</a>.
        </p>
        <div class="border-top d-flex justify-content-end mt-1 pt-1">
            <a href="privacy.html" class="btn btn-link btn-sm me-0-5 text-decoration-none">
                Dowiedz się więcej
            </a>
            <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="toast">
                Rozumiem
            </button>
        </div>
    </div>
</div>
