.bg-image-responsive {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.bg-image-primary {
  background-image: url("../../../assets/images/backgrounds/bg-primary.jpg") !important;
}
