body {
    min-width: $min-body-width;
    font-size: $font-size-base;
    font-family: "Roboto", "Open Sans", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    transition: all 0.1s;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

::selection {
    color: color-yiq($primary);
    background: $primary;
}
